<h1>Материалы по курсу</h1>
<table>
  <tr>
    <th>Урок #</th>
    <th>Полезные ссылки</th>
  </tr>
  <tr>
    <td>1 Введение в Ангуляр</td>
    <td>
      <ul>
        <li>
          <a href="https://www.youtube.com/embed/sL6VvWOAuLE" target="_blank"
            >Что такое NPM
          </a>
        </li>

        <li>
          <a href="https://docs.npmjs.com/cli/version.html" target="_blank"
            >npm version
          </a>
        </li>
        <li>
          <a href="https://docs.npmjs.com/cli/install.html" target="_blank"
            >npm install
          </a>
        </li>
        <li>
          <a href="https://docs.npmjs.com/cli/uninstall.html" target="_blank"
            >npm uninstall
          </a>
        </li>
        <li>
          <a href="https://docs.npmjs.com/cli/update.html" target="_blank"
            >npm update
          </a>
        </li>
        <li>
          <a href="https://docs.npmjs.com/cli/run-script.html" target="_blank"
            >npm run-script
          </a>
        </li>
        <li>
          <a href="https://docs.npmjs.com/cli/run-script.html" target="_blank"
            >npm run-script
          </a>
        </li>
        <li>
          <a
            href="http://typescript-lang.ru/docs/Modules.html#%D0%98%D0%BC%D0%BF%D0%BE%D1%80%D1%82"
            target="_blank"
            >Импорты в TS
          </a>
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>2 Основы Ангуляр</td>
    <td>
      <ul>
        <li><a href="https://cli.angular.io/" target="_blank"
            >CLI Angular.io
          </a></li>
        <li><a href="https://xsltdev.ru/angular/tutorial/angular-cli/" target="_blank"
            >CLI xsltdev
          </a></li>
        <li><a href="https://habr.com/ru/post/349322/" target="_blank"
            >CLI habr
          </a></li>

        <li><a href="https://www.youtube.com/embed/BL0onSQtKLY" target="_blank"
            >Интерполяция
          </a></li>
        <li><a href="https://www.youtube.com/embed/yQpg1L3jH_E" target="_blank"
            >data bindings
          </a></li>
        <li><a href="https://www.youtube.com/embed/9YfCaddI5bg" target="_blank"
            >Event Bindings
          </a></li>

          <li><a href="https://www.w3schools.com/cssref/tryit.asp?filename=trycss_visibility_collapse" target="_blank"
            >Пример таблицы
          </a></li>
          <li><a href="https://www.youtube.com/embed/BgUiEuNaGuE" target="_blank"
            >Создание компонента с Angular CLI
          </a></li>
          <li>
            <a href="https://metanit.com/web/angular2/2.1.php" target="_blanc">Компоненты</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.2.php" target="_blanc">Модули</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.3.php" target="_blanc">Загрузка приложения</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.4.php" target="_blanc">Стили и шаблоны компонента</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.5.php" target="_blanc">Привязка</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.6.php" target="_blanc">Работа с компонентами</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.7.php" target="_blanc">Взаимодействие между компонентами</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.10.php" target="_blanc">Привязка к событиям дочернего компонента</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.8.php" target="_blanc">Жизненный цикл компонента</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.9.php" target="_blanc">Шаблонные переменные, ViewChild</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.11.php" target="_blanc">Взаимодействие между модулями</a>
        </li>
        </ul>
    </td>
  </tr>
  <tr>
      <td>3 Директивы</td>
      <td>
          <ul>
              <li>
            <a href="https://metanit.com/web/angular2/2.1.php" target="_blanc">Компоненты</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.2.php" target="_blanc">Модули</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.3.php" target="_blanc">Загрузка приложения</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.4.php" target="_blanc">Стили и шаблоны компонента</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.5.php" target="_blanc">Привязка</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.6.php" target="_blanc">Работа с компонентами</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.7.php" target="_blanc">Взаимодействие между компонентами</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.10.php" target="_blanc">Привязка к событиям дочернего компонента</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.8.php" target="_blanc">Жизненный цикл компонента</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.9.php" target="_blanc">Шаблонные переменные, ViewChild</a>
        </li>
        <li>
            <a href="https://metanit.com/web/angular2/2.11.php" target="_blanc">Взаимодействие между модулями</a>
        </li>
    </ul>
      </td>
  </tr>
  <tr>
      <td>4 Сервисы и DI</td>
      <td>
          <ul>
            <li>
                <a href="https://metanit.com/web/angular2/4.1.php" target="_blanc">Сервисы</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/4.2.php" target="_blanc">Внедрение сервиса в другой сервис</a>
            </li>
            <li>
    <a href="https://metanit.com/web/angular2/4.4.php" target="_blanc">Опциональные сервисы</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/4.3.php" target="_blanc">Один сервис для всех компонентов</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/4.5.php" target="_blanc">Иерархия сервисов</a>
            </li>
          </ul>
      </td>
  </tr>
  <tr>
      <td>5 Работа с формами</td>
      <td>
        <ul>
            <li>
                <a href="https://metanit.com/web/angular2/5.1.php" target="_blanc">Модуль FormsModule и директива NgModel</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/5.2.php" target="_blanc">Получение и изменение модели</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/5.3.php" target="_blanc">Состояние модели и валидация</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/5.4.php" target="_blanc">Директива NgForm</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/5.5.php" target="_blanc">Reactive Forms</a>
            </li>        
        </ul>
      </td>
  </tr>
  <tr>
      <td>6 Работа с HTTP</td>
      <td>
          <ul>
            <li>
                <a href="https://metanit.com/web/angular2/6.1.php" target="_blanc">HttpClient и отправка запросов</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/6.2.php" target="_blanc">Объект Observable и библиотека RxJS</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/6.3.php" target="_blanc">Обработка ошибок</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/6.4.php" target="_blanc">Отправка данных в запросе</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/6.5.php" target="_blanc">POST-запросы</a>
            </li>  
          </ul>
      </td>
  </tr>
  <tr>
      <td>6 Маршрутизация</td>
      <td>
        <ul>
            <li>
                <a href="https://metanit.com/web/angular2/7.1.php" target="_blanc">Определение маршрутов</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/7.2.php" target="_blanc">Создание ссылок</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/7.3.php" target="_blanc">Параметры маршрута</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/7.4.php" target="_blanc">Параметры строки запроса</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/7.5.php" target="_blanc">Программная навигация</a>
            </li>          
            <li>
                <a href="https://metanit.com/web/angular2/7.6.php" target="_blanc">Дочерние маршруты</a>
            </li>     
            <li>
                <a href="https://metanit.com/web/angular2/7.7.php" target="_blanc">Guards</a>
            </li>   
        </ul>
      </td>
  </tr>
  <tr>
      <td>7 Пайпы</td>
      <td>
          <ul>
            <li>
                <a href="https://metanit.com/web/angular2/8.1.php" target="_blanc">Работа с pipes</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/8.2.php" target="_blanc">Создание своих pipes</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/8.3.php" target="_blanc">Pure и Impure Pipes</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/8.4.php" target="_blanc">AsyncPipe</a>
            </li>
          </ul>
      </td>
  </tr>
  <tr>
    <td>8 и другое</td>
    <td>
        <ul>
            <li>
                <a href="https://metanit.com/web/angular2/9.1.php" target="_blanc">Webpack</a>
            </li>
            <li>
                <a href="https://metanit.com/web/angular2/9.2.php" target="_blanc">Grid и CRUD-операции</a>
            </li>
        </ul>
    </td>
</tr>
<!-- <tr>
    <td>9 </td>
    <td>
        <ul>

        </ul>
    </td>
</tr>
<tr>
    <td>10 </td>
    <td>
        <ul>

        </ul>
    </td>
</tr>
<tr>
    <td>11 </td>
    <td>
        <ul>

        </ul>
    </td>
</tr>
<tr>
    <td>12 </td>
    <td>
        <ul>

        </ul>
    </td>
</tr> -->

</table>


 