<h1>Отзыв о курсе и преподавателе</h1>
<p>Achtung!!! Курс по-настоящему интенсивный! И очень толковый!</p>
<p>Преподователь поблажек не дает, но всеми силам старается помочь. Очень терпеливый и веселый.</p>

<p>Был ли вам полезен курс или считаете сами разобрались бы лучше/быстрее?<br>
Курс был очень интересным и полезным. К сожалению, разобраться особо не смог. Было бы лучше, если бы выделили на курс больше времени.</p>
<p>

<p>
    Что было интересного и понравилось, что нет?<br>
    Курс ориентирован на практическую часть программирования, поэтому все задачи были интересными и в какой-то степени знакомыми.
</p>

<p>
    Достаточно ли было сложно и глубоко погружено в тему или курс прошёл на одном дыхании незаметно и можно было бы сделать задачки поинтереснее.<br>
    Для меня все было довольно сложно.
</p>

<p>
    Были ли задачи/темы за рамками курса. Предлагались ли задачи "со звёздочкой"?<br>
    Были.
</p>

<p>
    Что бы вы посоветовали для саморазвития преподавателю и улучшению курса?<br>
    Поэксперементировать с форматом, когда слушатели смотрят без необходимости повторять в своем приложении.
</p>