<h1>Мои проекты</h1>
<!-- <p>Проект обо всем и ни о чем одновременно, все как в жизни!</p> -->

<table>
    <tr>
        <th>Урок #</th>
        <th>Задание #</th>
        <th>StackBlitz</th>
        <th>GitHub</th>
        <th>ReadMe</th>
    </tr>
    <tr>
        <td>1</td>
        <td>9</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson1-task9/" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson1-task9/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson1-task9/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>1</td>
        <td>12</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/angular-hw1-task12" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson1-task12/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson1-task12/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>2,5</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson2" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson2/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson2/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>10</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson2-task10" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson2-task10/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson2-task10/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>11</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson2-task11" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson2-task11/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson2-task11/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>12</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson2-task12" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson2-task12/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson2-task12/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>15</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson2-task15" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson2-task15/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson2-task15/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>5</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson3" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson3/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson3/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>2</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson4-task2" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson4-task2/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson4-task2/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>4</td>
        <td>3</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson4-task3" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson4-task3/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson4-task3/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>6</td>
        <td>2</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson6-task2" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson6-task2/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson6-task2/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>7</td>
        <td>1,2,4,5</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson7" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson7/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson7/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>8</td>
        <td>1,2</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson7" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson7/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson7/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>10</td>
        <td>1,2</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson10" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson10/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson10/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>11</td>
        <td>1</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson11" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson11/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="git clone https://github.com/garlife/hw-lesson11/blob/main/README.md" download>
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
    <tr>
        <td>11</td>
        <td>2</td>
        <td>
            <a href="https://stackblitz.com/github/garlife/hw-lesson10" target="_blank">
                <img src="../../assets/stackblitz-icon.png" width="25px" height="25px">
                </a>
        </td>
        <td>
            <a href="https://github.com/garlife/hw-lesson10/" target="_blank">
                <img src="../../assets/GitHub-Mark-32px.png" width="25px" height="25px">
                </a>
        </td>
        <td><a href="https://github.com/garlife/hw-lesson10/README.md" download="https://github.com/garlife/hw-lesson10/blob/main/README.md">
        <img src="../../assets/readme-icon.jpg" width="25px" height="25px">
        </a></td>
    </tr>
</table>




